.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
h1{
    text-align: center;
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
textarea, input:not([type="submit"]){
    height: 50px;
    padding-left: 16px;
    width: 250px;
}
textarea{
    padding-top: 16px;
    resize: none;
    height: 250px;
}
input,textarea{
    border-radius: 20px;
    border: #888 1px solid;
    box-sizing: border-box;
    justify-self: center;
    background-color: var(--background-color);
    color: var(--form-text-color);
}
::placeholder{
    color: var(--form-text-color);
}
input[type="submit"]{
        margin: auto;
        background-color: var(--btn-color);
        color: var(--btn-text-color);
        border: none;
        border-radius: 20px;
        width: 126px;
        height: 50px;
        font-size: 20px;
        font-weight: bold;
        box-shadow: 0 4px 4px rgba(0,0 , 0, 0.95);
        transition: box-shadow 200ms ease-in-out,transform 200ms ease-in-out;
}
input[type="submit"]:hover{
    box-shadow: 0 8px 8px rgba(0,0 , 0, 0.95);
    transform: scale(1.05);
}
input[type="submit"]:active{
    box-shadow: 0 0px 0px rgba(0,0 , 0, 0.95);
    transform: scale(0.95);
}

@media (width>=800px){
    textarea,input:not([type="submit"]){
        width: 600px;
        font-size: 20px;
    }
    form{
        gap: 40px;
    }
}

@media (width>=1400){
    textarea,input:not([type="submit"]){
        width: 800px;
    }
}